@js-temporal/polyfill
algebrite
bluebird
discord
discord.js 
dotenv 
html-entities 
merge 
moment 
moment-timezone 
mysql 
node-fetch 
striptags 
tslib 
tslog 
winston 
@types/node 
@types/ws 
eslint 
typescript 